.App {
    .centered-line {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .centered-line::before {
        content: "";
        width: 150px;
        height: 100%;
        background-color: #6A45FF;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 80px 0;
    }
}

@media screen and (max-width: 768px) {
    .App {
        .centered-line::before {
            width: 60px;
            opacity: 0.5;
        }
    }
}